

@media only screen and (max-width: 960px)
.header .header, .header .header-inner, .header.header-transparent .header-inner {
    background-color: #131313 !important;
}

.mobile .header .header-inner {
    border-bottom: none !important;
}

.mobile .header, .mobile .header .header-inner {
    height: 6rem !important;
    padding-top: 0;
    background: #232323 !important;
}

.header .logo, .header .header-inner .navigation > ul > li, .header .header-inner .navigation > ul > li > a:not(.button), .header .header-inner .dropdown > .nav-icon {
    height: 6rem !important;
    line-height: 6rem !important;
}

.h1-edit {
    font-family: 'Vollkorn', serif;
    font-weight: 700;
    font-size: 8.5rem;
    text-transform: none !important;
    width: 100% !important;
    color: rgba(255,255,255,0.85) !important;
    margin-bottom: 0px !important;
    padding-bottom: 10px !important;
}

.button-edit {
    text-align: left !important;
}

.header-button-edit {
    width: 200px !important;
    padding: 15px !important;
    opacity: 0.85;
    text-align: center;
    margin-right: 20px;
    
}

@media (max-width: 450px) {
    .button-edit {
    text-align: center !important;
}
}


@media (max-width: 768px) {
    .header-button-edit {
    width: 150px !important;
    padding: 8px !important;
    }
}


@media (max-width: 450px) {
    .header-button-edit {
    width: 250px !important;
    padding: 20px !important;
        margin-right: auto;
    font-size: 50px !important;
    }
}
.p-edit {
    font-family: 'Lato', serif;
    font-size: 5rem;
}

.align-fix {
    padding: 10rem !important;
    
}

.lead {
    font-size: 1.7rem !important;
    text-align: justify;
}

.justify-edit {
    text-align: justify !important;
}

.lead-edit {
    font-size: 1.5rem !important;
    text-align: justify;
}

@media (max-width: 768px) {
    .size-mob-edit {
        font-size: 5.1rem !important;
    }
}

@media (max-width: 450px) {
    .size-mob-edit {
        font-size: 5.5rem !important;
        line-height: 5rem !important;
        text-align: center !important;
    }
}

@media (max-width: 450px) {
    .p-edit {
    font-family: 'Lato', serif;
    font-size: 2.5rem;
    }
}

@media (max-width: 768px) {
    .p-edit {
    font-family: 'Lato', serif;
    font-size: 2.5rem;
    }
}

@media (max-width: 768px) {
    .hidden-mob-edit {
        display: none !important;
    }
}

@media (max-width: 450px) {
    .hidden-mob-edit2 {
        display: none !important;
    }
}

@media (max-width: 768px) {
    .about-tablet-edit {
        width: 50% !important;
    }
}

@media (max-width: 450px) {
    .about-tablet-edit {
        width: 100% !important;
    }
}

@media (max-width: 450px) {
    .align-fix {
        padding: 10rem !important;
        padding-left: 6rem !important;
        padding-right: 6rem !important;
        overflow: visible !important;
    }
}

@media (max-width: 450px) {
    .overflow-fix {
        overflow: visible !important;
        height: auto !important;
    } 
}

.replicable-content, .row.xlarge.replicable-content {
    padding-top: 8rem !important;
    padding-bottom: 8rem !important;
}

@media (max-width: 450px) {
.force-height {
    height: 500px !important;
}
}

.p-hero-edit {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

@media (max-width: 450px) {
    .p-hero-edit {
        display: none !important;
    }
}